# Variables

In [1]:
# Variables

# Python est un langage non typé
# Les variables permettent de stocker des valeurs
# Les variables permettent de stocker quelques soit le type
# A chaque assignation de valeur à une variable on parle d'assignation ou d'affectation

# Première METHODE
var1 = 'Ali'
var2 = 100.100
var3 = 22
var4 = 188.

# Deuxième METHODE
# Cette mlethode permet de regrouper (PACK)...
var5, var6, var7, var8 = 'Ali', 100.100, 22, 188.

In [9]:
# Afficher les variables dans le prompt de Jupyter Lab
var1, var2, var3, var4

('Ali', 100.1, 22, 188.0)

In [10]:
# Afficher les variables dans le prompt de Jupyter Lab
var5, var6, var7, var8

('Ali', 100.1, 22, 188.0)

In [11]:
# Les entiers
# Les réels
# les chaines de caractères
# Les booléens
# Les tableau ( Entier, Reels, Chaine de caractères)

# Les types de Variables

In [14]:
# La fonction pour afficher le type est la fonction type

# var1 = 'Ali'    type = str (chaine de caractère)
# var2 = 100.100  type = float (reel)
# var3 = 22       type = int (entier)
# var4 = 188.     type = float (reel)

type(var1), type(var2), type(var3), type(var4)

(str, float, int, float)

In [16]:
# Les deux manières d'écrire un float

188.000, 188. # 188.0000000000

(188.0, 188.0)

In [17]:
type(var5), type(var6), type(var7), type(var8)

(str, float, int, float)

# Les opérations usuelles en python

In [19]:
add    = var2 + var3    # Addition
sous   = var2 - var3    # Soustraction
divi   = var2 / var3    # Divion simple
mult   = var2 * var3    # Multiplication
pow2   = var2 ** 2      # Exposant au carré (puissance)
pow3   = var2 ** 3      # Exposant au cube (puissance)
divE   = var2 // var3   # Division Entière
divE2  = 4 // 3         # Division Entière
modulo = 4 % 3          # Modulo (retourne le reste)

In [20]:
add, sous, divi, mult, pow2, pow3

(122.1, 78.1, 4.55, 2202.2, 10020.009999999998, 1003003.0009999998)

In [23]:
4/3, 4//3    # La division entière filtre et retient la partie entiere du résultat

(1.3333333333333333, 1)

In [24]:
# Déclarer des variables
# Une variable <name>, contenant votre NOM
# Une variable <age>, contenant votre AGE
# Une variable <sex>, contenant votre sexe
# Une variable <country>, contenant votre pays.

In [27]:
# Correction Déclarer des variables
name    = 'Eric'
age     = 28
sex     = 'Masculin'
country = 'Cameroune'

In [25]:
# Afficher le type de vos variables
# Afficher le type de la variable <name>
# Afficher le type de la variable <age>
# Afficher le type de la variable <sex>
# Afficher le type de la variable <country>

In [29]:
# Correction Afficher le type des variables
type(name), type(age), type(sex), type(country)

(str, int, str, str)

In [26]:
# Manipulation des varaibles
# Declarer une variable du nom <surface>
# Le rayon du cercle est de 18 et PI = 22/7
# Calculer la surfaceCercle d'un cercle = PI * r**2
# Considérer un triangle avec les dimensions suivantes:
# Base = 22
# Hauteur = 17
# calculer la surface de ce triangle dans une variable surfaceTriangle
# NB: Perimètre d'un triangle = (B * H) / 2

In [30]:
# Correction Manipulation des varaibles
PI, r, Base, Hauteur = 22/7, 18, 22, 17
surfaceCercle        = PI * (r**2)
surfaceTriangle      = (Base * Hauteur) / 2

surfaceCercle, surfaceTriangle

(1018.2857142857142, 187.0)

# List, tuple, dict

## Les Listes en python ou tableau

In [31]:
# Déclaration d'une liste ou d'un tableau

tableau = []
# tableau = list()

In [33]:
# Ajouter des élements dans le tableau
# La particularité des tableaux en Java ou langage C est de ne déclarer que des tableaux ne contenant que des valeurs du même type
# En python les LISTES sont des META DONNEES ( communément appelées des STRUCTURES DE DONNEES)
# La particularité des STRUCTURES DE DONNEES est de contenir tous types de variables

# Cas en Java ou en C (Appliqué au python)
tableau1 = [0, 1, 2, 3, 4, 5, 1991, 20778] # que des entiers
tableau2 = [0.00, 1.00, 2.00, 3.00, 4.00, 1991.012] # que des réels
tableau3 = ['Eric', 'Marius', 'Maodo', 'Russell'] # que des chaines de caractères

# Cas en python
tableau4 = [11, 188.02, 'Eric']
tableau5 = [11.88, 12, 'Russell', []]
tableau6 = [[1,2,3], [99.88, 'ALI'], []]

In [35]:
# Afficher les valeurs du tableau en passant par les indexes
tableau1[0], tableau1[1], tableau1[6]

(0, 1, 1991)

In [37]:
# Afficher les valeurs du tableau en passant par les indexes
tableau3[0], tableau2[1], tableau2[5]

('Eric', 1.0, 1991.012)

In [38]:
# Afficher les valeurs du tableau en passant par les indexes
tableau5[0], tableau5[2], tableau2[3]

(11.88, 'Russell', 3.0)

In [39]:
# Afficher les valeurs du tableau en passant par les indexes
tableau6[0], tableau6[1], tableau6[2]

([1, 2, 3], [99.88, 'ALI'], [])

In [40]:
# Afficher les valeurs du tableau en passant par les indexes
# Manipulation des matrices (tableau dimension 2)
tableau6[0][0], tableau6[1][1], tableau6[2]

(1, 'ALI', [])

In [41]:
# Affichage du type des tableaux
type(tableau1), type(tableau2), type(tableau5), type(tableau6)

(list, list, list, list)

In [46]:
# Petite Remarque
# On peut modifier les valeurs contenues dans une LISTE
# La modification de ces valeurs se font par les index du tableau
# Exemple
tableau4    = [11, 188.02, 'Eric']
tableau4[0] = 100.2
tableau4[1] = 'Ali'
tableau4[2] = 'Maodo Sene'

In [48]:
# Affichage des modifications apportées au tableau4
tableau4

[100.2, 'Ali', 'Maodo Sene']

In [49]:
# test de la propriété d'immutabilité des listes (Part 1)
testListe = list()  # testListe = []

testListe[0]

IndexError: list index out of range

In [50]:
# test de la propriété d'immutabilité des listes (Part 2)
testListe = list()  # testListe = []

testListe[0] = 188.19

IndexError: list assignment index out of range

In [53]:
# List comprehension (Part 1)
# NB: la fonction native range(n) affiche les éléments a partir de 0 jusqu'à n-1
# NB exemple: range(3) = [0,1,2] car n-1 = 3-1 = 2

var1 = []   # list()
var2 = [1, 2, 3, 4, 5]
var3 = [x for x in var2]
var4 = [x for x in var2]
var5 = [x for x in range(6)]
var6 = [x for x in range(10)]

In [51]:
# Afficher les valeurs des variables var3, var4
var3, var4

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [52]:
# Afficher les valeurs des variables var5, var6
var5, var6

([0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [54]:
# Afficher les types des variables var5, var6
type(var5), type(var6)

(list, list)

In [6]:
# Manipulation de la fonction range (Exemple 1)
# Syntaxe range(number) 
test_range1 = list(range(10))
test_range1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
# Manipulation de la fonction range (Exemple 2)
# Syntaxe range(start, end)
test_range2 = list(range(5, 25))
test_range2

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [8]:
# List comprehension (Part 3)
# Add, remove, pop, extend, insert, remove value
var = []

# Ajouter des elements avec la fonction append
var.append(1)
var.append(2)
var.append(28.88)
var.append('Ali')
var.append('Sarr')
var.append(['Ali', 18, [-155.88, 68.78]])

In [9]:
var

[1, 2, 28.88, 'Ali', 'Sarr', ['Ali', 18, [-155.88, 68.78]]]

In [10]:
# Ajouter des elements a la liste a partir d'une autre liste
# iterable c'est un structure de donnees capable de rendre de manière successive les valeurs qu'elle contient
# On parle d'itération (terme grossuère=boucle)
var.extend([201, 202, 203])
var.extend([301, 302, 303])
var.extend([401, 402, 403])

In [11]:
var

[1,
 2,
 28.88,
 'Ali',
 'Sarr',
 ['Ali', 18, [-155.88, 68.78]],
 201,
 202,
 203,
 301,
 302,
 303,
 401,
 402,
 403]

In [12]:
var.extend(1999) # append

TypeError: 'int' object is not iterable

In [13]:
var.extend(['Ali', 18, [-155.88, 68.78]])

In [17]:
# suppression des élément d'une liste
# Utilisation de la fonction POP
# La fonction native POP permet de supprimer un élément en bout de liste et renvoi l'élément supprimé
var.pop()

[-155.88, 68.78]

In [19]:
# Suppression avec précision de l'index de l'élément à supprimer
var.pop(0)

1

In [21]:
# Inserer des éléments dans une liste avec la fonction INSERT
# Syntaxe de INSERT: <list>.insert(index, value)
var.insert(1, 555)
var.insert(1, 665)
var.insert(3, 888)

In [23]:
# Suppression d'un élément d'une liste avec la fonction remove
# Syntaxe de REMOVE: <list>.remove(value)
var.remove(665)

In [25]:
var.remove(888)

In [28]:
# Ajout de deux éléments identiques dans la liste
var.insert(1, 200)
var.insert(1, 200)

In [33]:
# NB: en cas d'occurence remove ne supprime qu'un élément par élément
var.remove(200)

In [35]:
var = list(range(10))

In [37]:
# Afficher tous les éléments de la liste (Méthode 1)
var

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
# Afficher tous les éléments de la liste (Méthode 2)
var[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
# Afficher tous les éléments de la liste à partir du dernier élément
var[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [40]:
# Afficher le premier et le dernier élément de la liste
var[0], var[-1]

(0, 9)

In [42]:
# Afficher les n premiers éléments de la liste
# Exemple des cinq premiers élements
var[0:5], var[0:6], var[0:7] # ou var[:5]

([0, 1, 2, 3, 4], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5, 6])

In [44]:
# Afficher n éléments de la liste a partir d'un index de départ
var[2:5], var[2:8], var[3:5]

([2, 3, 4], [2, 3, 4, 5, 6, 7], [3, 4])

In [47]:
# Affichage des éléments de la liste a partir des index négatifs
# Quand on utilise les indexes négatifs on décompte de la droite vers la gauche
var[-5:-1], var[-6:-2], var[-7:-1]

([5, 6, 7, 8], [4, 5, 6, 7], [3, 4, 5, 6, 7, 8])

In [48]:
# Affichage des éléments de la liste a partir du dernier par pas de 1
var[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [49]:
# Affichage des éléments de la liste a partir du dernier par pas de 2
# Le pas peut varier qu'a l'intervalle de la longueur du tableu
var[::-2], var[::-3], var[::-4]

([9, 7, 5, 3, 1], [9, 6, 3, 0], [9, 5, 1])

In [51]:
# List comprehension (Part 4)
# Opérations usuelles sur les listes

var1 = list(range(10))
var2 = list(range(6))

var3 = var1 + var2 # Concaténation
var4 = var2 * 3 # répétition des éléments du tableau par 3

In [52]:
var3, var4

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5],
 [0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5])

## Les dictionnaires en python

In [58]:
# Dictionnaire (Part 1)
# Les dictionnaires se base sur la notion de key/value
# Notion de clé et de valeur (A une clé => valeur)

var  = {} # or var = dict()
var2 = dict()
tab  = list()

type(var), type(var2)

(dict, dict)

In [54]:
# Ajouter des éléments dans le dictionnaire
var['name']    = 'Ali'
var['age']     = 18
var['poids']   = 75.50
var['country'] = 'SN'

In [55]:
var

{'name': 'Ali', 'age': 18, 'poids': 75.5, 'country': 'SN'}

In [56]:
# Afficher les éléments de ce dictionnaire
var['name'], var['age'], var['poids'], var['country']

('Ali', 18, 75.5, 'SN')

In [61]:
tab[0] = 'Ali'

IndexError: list assignment index out of range

In [66]:
# Ajouter des listes et dictionnaires dans un dictionnaire
var2[0] = 4
var2[1] = [1, 2, 3, 5]
var2[2] = {'tall': 1.85, 'color': 'black'}
var2

{0: 4, 1: [1, 2, 3, 5], 2: {'tall': 1.85, 'color': 'black'}}

In [67]:
# Dictionnaire (Part 2)
# Quelques propriétés des dictionnaires

var2.update({'language': 'Wolof',
            'classe': 'DSI006',
            'year': 1995, })

In [68]:
var2

{0: 4,
 1: [1, 2, 3, 5],
 2: {'tall': 1.85, 'color': 'black'},
 'language': 'Wolof',
 'classe': 'DSI006',
 'year': 1995}

In [69]:
var2.update({'language': 'Anglais',
            'classe': 'DSI007',
            'year': 1994, })

In [70]:
var2

{0: 4,
 1: [1, 2, 3, 5],
 2: {'tall': 1.85, 'color': 'black'},
 'language': 'Anglais',
 'classe': 'DSI007',
 'year': 1994}

In [71]:
# La fonction update ou | mettent à jour les éléments du dictionnaires
# Si ces éléments existent dans la liste il met à jour
# Sinon il ajoute les nouveaux éléments avec leur clé
var4 = {'language': 'Russe','classe': 'DSI008','year': 1992}
var2 = var2 | var4
var2

{0: 4,
 1: [1, 2, 3, 5],
 2: {'tall': 1.85, 'color': 'black'},
 'language': 'Russe',
 'classe': 'DSI008',
 'year': 1992}

In [72]:
# Dictionnaire (Part 3)
# Quelques fonction sur les dictionnaires

# Afficher toutes les clés du dictionnaire
var2.keys()

dict_keys([0, 1, 2, 'language', 'classe', 'year'])

In [73]:
# Afficher toutes les valeurs du dictionnaire
var2.values()

dict_values([4, [1, 2, 3, 5], {'tall': 1.85, 'color': 'black'}, 'Russe', 'DSI008', 1992])

In [74]:
list(var2.keys())

[0, 1, 2, 'language', 'classe', 'year']

In [75]:
list(var2.values())

[4, [1, 2, 3, 5], {'tall': 1.85, 'color': 'black'}, 'Russe', 'DSI008', 1992]

In [76]:
# Afficher les clés et les valeurs en même temps
var2.items()

dict_items([(0, 4), (1, [1, 2, 3, 5]), (2, {'tall': 1.85, 'color': 'black'}), ('language', 'Russe'), ('classe', 'DSI008'), ('year', 1992)])

In [77]:
list(var2.items())

[(0, 4),
 (1, [1, 2, 3, 5]),
 (2, {'tall': 1.85, 'color': 'black'}),
 ('language', 'Russe'),
 ('classe', 'DSI008'),
 ('year', 1992)]

In [78]:
# Supprimer un élément du dictionnaire (Méthode 1)
# pour supprimer dans ce cas on utilise la clé
del var2[0]

In [79]:
var2

{1: [1, 2, 3, 5],
 2: {'tall': 1.85, 'color': 'black'},
 'language': 'Russe',
 'classe': 'DSI008',
 'year': 1992}

In [81]:
# Supprimer un élément du dictionnaire (Méthode 2)
# Utilisation de la méthode pop pour supprimer a partir de l'indexe
var2.pop(1)

[1, 2, 3, 5]

In [82]:
#Exercice
# Créér un dictionnaire contenant:
# La valeur de vôtre nom assignée à une clé fullname
# La valeur de vôtre poids assignée à une clé weight
# La valeur de vôtre taille assignée à une clé tall
# Puis calcule l'IMC (indice de masse corporelle)
# Formule= Poids/(taille*taille) en kg/m2
# Exprimer ce résultat en g/m2, en g/mm2
# et stocker ces trois résultats dans une liste
# et stocker cette liste dans le dictionnaire de départ sous la clé <imc>

In [85]:
# Correction faite par Eric Djiky
person = {}

person['fullname'] = 'Eric Djiky'
person['weight']   = 70
person['tall']     = 1.75
imc                = person['weight'] / (person['tall'] * person['tall'])
imc2               = (person['weight'] * 1000) / (person['tall'] * person['tall'])
imc3               = (person['weight'] * 1000) / ((person['tall'] * 1000) * (person['tall'] * 1000))

person['IMC']      = [imc, imc2, imc3]
person

{'fullname': 'Eric Djiky',
 'weight': 70,
 'tall': 1.75,
 'IMC': [22.857142857142858, 22857.14285714286, 0.022857142857142857]}

In [87]:
# Correction faite par Maodo Sene

# Créér un dictionnaire contenant:
mes_infos = {}
mes_infos['fullnam']  ='Maodo'
mes_infos['weight']   = 78
mes_infos['tall']     = 1.75

#calcule l'IMC (indice de masse corporelle) en kg/m²
IMC1 = mes_infos['weight']/(mes_infos['tall']**2)

# Exprimer ce résultat en g/m2
IMC2 = (mes_infos['weight']*1000)/(mes_infos['tall']**2)

# Exprimer ce résultat en g/mm2
IMC3 = (mes_infos['weight']*1000)/((mes_infos['tall']**2)*1000)

imc  = {'imc': [IMC1, IMC2, IMC3]}
mes_infos.update(imc)
mes_infos

{'fullnam': 'Maodo',
 'weight': 78,
 'tall': 1.75,
 'imc': [25.46938775510204, 25469.38775510204, 25.46938775510204]}

In [86]:
# Exercice2
fruits = ['orange', 'banane', 'kiwi', 'papaye', 'pomme', 'pomme']

# Afficher la taille du tableau avec la fonction len:
# Exemple Liste1 = [1,2] => longueur = len(Liste1)

# Compter le nombre d'occurence de POMME:
# Exemple Liste1 = ['tata', 'tata', 'tati'] => occurence = Liste1.count('tata')

# Ordonner la liste avec REVERSE
# Exemple Liste1 = [1,2,3] => Liste1Reverse = Liste1.reverse()

# Trier les éléments du tableau avec la fonction SORTED
# Exemple Liste1   = [1,2,3]
# Liste1SortedAsc  = sorted(Liste1, reverse=Fasle)
# Liste1SortedDesc = sorted(Liste2, reverse=True)

# Supprimer l'élément ORANGE de la liste de départ
# Ajouter dans la liste le résultat de l'exercice précédent avec l'IMC

In [88]:
# Correction Exercice2 fait par Wilfried
fruits = ['orange', 'banane', 'kiwi', 'papaye', 'pomme', 'pomme']

# Afficher la taille du tableau avec la fonction len:
# Exemple Liste1 = [1,2] => longueur = len(Liste1)
lenghtFruit = len(fruits)

# Compter le nombre d'occurence de POMME:
# Exemple Liste1 = ['tata', 'tata', 'tati'] => occurence = Liste1.count('tata')
occurencePomme = fruits.count('pomme')

# Trier les éléments du tableau avec la fonction SORTED
# Exemple Liste1   = [1,2,3]
# Liste1SortedAsc  = sorted(Liste1, reverse=Fasle)
fruitsSortedAsc = sorted(fruits, reverse=False)

# Liste1SortedDesc = sorted(Liste2, reverse=True)
fruitsSortedDesc = sorted(fruits, reverse=True)

lenghtFruit,occurencePomme,fruitsSortedAsc,fruitsSortedDesc

(6,
 2,
 ['banane', 'kiwi', 'orange', 'papaye', 'pomme', 'pomme'],
 ['pomme', 'pomme', 'papaye', 'orange', 'kiwi', 'banane'])

In [89]:
# Supprimer l'élément ORANGE de la liste de départ
del fruits[0]

In [91]:
# Ajouter dans la liste le résultat de l'exercice précédent avec l'IMC
fruits.extend(person['IMC'])

In [92]:
fruits

['banane',
 'kiwi',
 'papaye',
 'pomme',
 'pomme',
 22.857142857142858,
 22857.14285714286,
 0.022857142857142857]

In [93]:
fruits.reverse()

In [94]:
fruits

[0.022857142857142857,
 22857.14285714286,
 22.857142857142858,
 'pomme',
 'pomme',
 'papaye',
 'kiwi',
 'banane']

## Les tuples en python

In [100]:
# Tuple (Part 1)

var1 = ()   # ou var1 = tuple()
var2 = (1, 2, 3, 4, 5)
var3 = (x for x in var2)
var4 = (x for x in range(6))

var6 = [x for x in var2]
var7 = [x for x in range(6)]

In [101]:
# Afficher les valeurs des tuples var2, var3, var4
var2, var3, var4

((1, 2, 3, 4, 5),
 <generator object <genexpr> at 0x7ffec88ec430>,
 <generator object <genexpr> at 0x7ffec88ec580>)

In [102]:
var6, var7

([1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5])

In [103]:
var3 = list(var3) # caster: forcer en un type donné
var3

[1, 2, 3, 4, 5]

In [105]:
var3 = tuple(var3) # caster: forcer en un type donné
var3

(1, 2, 3, 4, 5)