# Variables

In [1]:
# Variables

# Python est un langage non typé
# Les variables permettent de stocker des valeurs
# Les variables permettent de stocker quelques soit le type
# A chaque assignation de valeur à une variable on parle d'assignation ou d'affectation

# Première METHODE
var1 = 'Ali'
var2 = 100.100
var3 = 22
var4 = 188.

# Deuxième METHODE
# Cette mlethode permet de regrouper (PACK)...
var5, var6, var7, var8 = 'Ali', 100.100, 22, 188.

In [9]:
# Afficher les variables dans le prompt de Jupyter Lab
var1, var2, var3, var4

('Ali', 100.1, 22, 188.0)

In [10]:
# Afficher les variables dans le prompt de Jupyter Lab
var5, var6, var7, var8

('Ali', 100.1, 22, 188.0)

In [11]:
# Les entiers
# Les réels
# les chaines de caractères
# Les booléens
# Les tableau ( Entier, Reels, Chaine de caractères)

# Les types de Variables

In [14]:
# La fonction pour afficher le type est la fonction type

# var1 = 'Ali'    type = str (chaine de caractère)
# var2 = 100.100  type = float (reel)
# var3 = 22       type = int (entier)
# var4 = 188.     type = float (reel)

type(var1), type(var2), type(var3), type(var4)

(str, float, int, float)

In [16]:
# Les deux manières d'écrire un float

188.000, 188. # 188.0000000000

(188.0, 188.0)

In [17]:
type(var5), type(var6), type(var7), type(var8)

(str, float, int, float)

# Les opérations usuelles en python

In [19]:
add    = var2 + var3    # Addition
sous   = var2 - var3    # Soustraction
divi   = var2 / var3    # Divion simple
mult   = var2 * var3    # Multiplication
pow2   = var2 ** 2      # Exposant au carré (puissance)
pow3   = var2 ** 3      # Exposant au cube (puissance)
divE   = var2 // var3   # Division Entière
divE2  = 4 // 3         # Division Entière
modulo = 4 % 3          # Modulo (retourne le reste)

In [20]:
add, sous, divi, mult, pow2, pow3

(122.1, 78.1, 4.55, 2202.2, 10020.009999999998, 1003003.0009999998)

In [23]:
4/3, 4//3    # La division entière filtre et retient la partie entiere du résultat

(1.3333333333333333, 1)

In [24]:
# Déclarer des variables
# Une variable <name>, contenant votre NOM
# Une variable <age>, contenant votre AGE
# Une variable <sex>, contenant votre sexe
# Une variable <country>, contenant votre pays.

In [27]:
# Correction Déclarer des variables
name    = 'Eric'
age     = 28
sex     = 'Masculin'
country = 'Cameroune'

In [25]:
# Afficher le type de vos variables
# Afficher le type de la variable <name>
# Afficher le type de la variable <age>
# Afficher le type de la variable <sex>
# Afficher le type de la variable <country>

In [29]:
# Correction Afficher le type des variables
type(name), type(age), type(sex), type(country)

(str, int, str, str)

In [26]:
# Manipulation des varaibles
# Declarer une variable du nom <surface>
# Le rayon du cercle est de 18 et PI = 22/7
# Calculer la surfaceCercle d'un cercle = PI * r**2
# Considérer un triangle avec les dimensions suivantes:
# Base = 22
# Hauteur = 17
# calculer la surface de ce triangle dans une variable surfaceTriangle
# NB: Perimètre d'un triangle = (B * H) / 2

In [30]:
# Correction Manipulation des varaibles
PI, r, Base, Hauteur = 22/7, 18, 22, 17
surfaceCercle        = PI * (r**2)
surfaceTriangle      = (Base * Hauteur) / 2

surfaceCercle, surfaceTriangle

(1018.2857142857142, 187.0)

# List, tuple, dict

## Les Listes en python ou tableau

In [31]:
# Déclaration d'une liste ou d'un tableau

tableau = []
# tableau = list()

In [33]:
# Ajouter des élements dans le tableau
# La particularité des tableaux en Java ou langage C est de ne déclarer que des tableaux ne contenant que des valeurs du même type
# En python les LISTES sont des META DONNEES ( communément appelées des STRUCTURES DE DONNEES)
# La particularité des STRUCTURES DE DONNEES est de contenir tous types de variables

# Cas en Java ou en C (Appliqué au python)
tableau1 = [0, 1, 2, 3, 4, 5, 1991, 20778] # que des entiers
tableau2 = [0.00, 1.00, 2.00, 3.00, 4.00, 1991.012] # que des réels
tableau3 = ['Eric', 'Marius', 'Maodo', 'Russell'] # que des chaines de caractères

# Cas en python
tableau4 = [11, 188.02, 'Eric']
tableau5 = [11.88, 12, 'Russell', []]
tableau6 = [[1,2,3], [99.88, 'ALI'], []]

In [35]:
# Afficher les valeurs du tableau en passant par les indexes
tableau1[0], tableau1[1], tableau1[6]

(0, 1, 1991)

In [37]:
# Afficher les valeurs du tableau en passant par les indexes
tableau3[0], tableau2[1], tableau2[5]

('Eric', 1.0, 1991.012)

In [38]:
# Afficher les valeurs du tableau en passant par les indexes
tableau5[0], tableau5[2], tableau2[3]

(11.88, 'Russell', 3.0)

In [39]:
# Afficher les valeurs du tableau en passant par les indexes
tableau6[0], tableau6[1], tableau6[2]

([1, 2, 3], [99.88, 'ALI'], [])

In [40]:
# Afficher les valeurs du tableau en passant par les indexes
# Manipulation des matrices (tableau dimension 2)
tableau6[0][0], tableau6[1][1], tableau6[2]

(1, 'ALI', [])

In [41]:
# Affichage du type des tableaux
type(tableau1), type(tableau2), type(tableau5), type(tableau6)

(list, list, list, list)

In [46]:
# Petite Remarque
# On peut modifier les valeurs contenues dans une LISTE
# La modification de ces valeurs se font par les index du tableau
# Exemple
tableau4    = [11, 188.02, 'Eric']
tableau4[0] = 100.2
tableau4[1] = 'Ali'
tableau4[2] = 'Maodo Sene'

In [48]:
# Affichage des modifications apportées au tableau4
tableau4

[100.2, 'Ali', 'Maodo Sene']

In [49]:
# test de la propriété d'immutabilité des listes (Part 1)
testListe = list()  # testListe = []

testListe[0]

IndexError: list index out of range

In [50]:
# test de la propriété d'immutabilité des listes (Part 2)
testListe = list()  # testListe = []

testListe[0] = 188.19

IndexError: list assignment index out of range

In [53]:
# List comprehension (Part 1)
# NB: la fonction native range(n) affiche les éléments a partir de 0 jusqu'à n-1
# NB exemple: range(3) = [0,1,2] car n-1 = 3-1 = 2

var1 = []   # list()
var2 = [1, 2, 3, 4, 5]
var3 = [x for x in var2]
var4 = [x for x in var2]
var5 = [x for x in range(6)]
var6 = [x for x in range(10)]

In [51]:
# Afficher les valeurs des variables var3, var4
var3, var4

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [52]:
# Afficher les valeurs des variables var5, var6
var5, var6

([0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [54]:
# Afficher les types des variables var5, var6
type(var5), type(var6)

(list, list)

In [6]:
# Manipulation de la fonction range (Exemple 1)
# Syntaxe range(number) 
test_range1 = list(range(10))
test_range1

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
# Manipulation de la fonction range (Exemple 2)
# Syntaxe range(start, end)
test_range2 = list(range(5, 25))
test_range2

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24]

In [8]:
# List comprehension (Part 3)
# Add, remove, pop, extend, insert, remove value
var = []

# Ajouter des elements avec la fonction append
var.append(1)
var.append(2)
var.append(28.88)
var.append('Ali')
var.append('Sarr')
var.append(['Ali', 18, [-155.88, 68.78]])

In [9]:
var

[1, 2, 28.88, 'Ali', 'Sarr', ['Ali', 18, [-155.88, 68.78]]]

In [10]:
# Ajouter des elements a la liste a partir d'une autre liste
# iterable c'est un structure de donnees capable de rendre de manière successive les valeurs qu'elle contient
# On parle d'itération (terme grossuère=boucle)
var.extend([201, 202, 203])
var.extend([301, 302, 303])
var.extend([401, 402, 403])

In [11]:
var

[1,
 2,
 28.88,
 'Ali',
 'Sarr',
 ['Ali', 18, [-155.88, 68.78]],
 201,
 202,
 203,
 301,
 302,
 303,
 401,
 402,
 403]

In [12]:
var.extend(1999) # append

TypeError: 'int' object is not iterable

In [13]:
var.extend(['Ali', 18, [-155.88, 68.78]])

In [17]:
# suppression des élément d'une liste
# Utilisation de la fonction POP
# La fonction native POP permet de supprimer un élément en bout de liste et renvoi l'élément supprimé
var.pop()

[-155.88, 68.78]

In [19]:
# Suppression avec précision de l'index de l'élément à supprimer
var.pop(0)

1

In [21]:
# Inserer des éléments dans une liste avec la fonction INSERT
# Syntaxe de INSERT: <list>.insert(index, value)
var.insert(1, 555)
var.insert(1, 665)
var.insert(3, 888)

In [23]:
# Suppression d'un élément d'une liste avec la fonction remove
# Syntaxe de REMOVE: <list>.remove(value)
var.remove(665)

In [25]:
var.remove(888)

In [28]:
# Ajout de deux éléments identiques dans la liste
var.insert(1, 200)
var.insert(1, 200)

In [33]:
# NB: en cas d'occurence remove ne supprime qu'un élément par élément
var.remove(200)

In [35]:
var = list(range(10))

In [37]:
# Afficher tous les éléments de la liste (Méthode 1)
var

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [38]:
# Afficher tous les éléments de la liste (Méthode 2)
var[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [39]:
# Afficher tous les éléments de la liste à partir du dernier élément
var[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [40]:
# Afficher le premier et le dernier élément de la liste
var[0], var[-1]

(0, 9)

In [42]:
# Afficher les n premiers éléments de la liste
# Exemple des cinq premiers élements
var[0:5], var[0:6], var[0:7] # ou var[:5]

([0, 1, 2, 3, 4], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5, 6])

In [44]:
# Afficher n éléments de la liste a partir d'un index de départ
var[2:5], var[2:8], var[3:5]

([2, 3, 4], [2, 3, 4, 5, 6, 7], [3, 4])

In [47]:
# Affichage des éléments de la liste a partir des index négatifs
# Quand on utilise les indexes négatifs on décompte de la droite vers la gauche
var[-5:-1], var[-6:-2], var[-7:-1]

([5, 6, 7, 8], [4, 5, 6, 7], [3, 4, 5, 6, 7, 8])

In [48]:
# Affichage des éléments de la liste a partir du dernier par pas de 1
var[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [49]:
# Affichage des éléments de la liste a partir du dernier par pas de 2
# Le pas peut varier qu'a l'intervalle de la longueur du tableu
var[::-2], var[::-3], var[::-4]

([9, 7, 5, 3, 1], [9, 6, 3, 0], [9, 5, 1])

In [51]:
# List comprehension (Part 4)
# Opérations usuelles sur les listes

var1 = list(range(10))
var2 = list(range(6))

var3 = var1 + var2 # Concaténation
var4 = var2 * 3 # répétition des éléments du tableau par 3

In [52]:
var3, var4

([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5],
 [0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5])

## Les dictionnaires en python

In [58]:
# Dictionnaire (Part 1)
# Les dictionnaires se base sur la notion de key/value
# Notion de clé et de valeur (A une clé => valeur)

var  = {} # or var = dict()
var2 = dict()
tab  = list()

type(var), type(var2)

(dict, dict)

In [54]:
# Ajouter des éléments dans le dictionnaire
var['name']    = 'Ali'
var['age']     = 18
var['poids']   = 75.50
var['country'] = 'SN'

In [55]:
var

{'name': 'Ali', 'age': 18, 'poids': 75.5, 'country': 'SN'}

In [56]:
# Afficher les éléments de ce dictionnaire
var['name'], var['age'], var['poids'], var['country']

('Ali', 18, 75.5, 'SN')

In [61]:
tab[0] = 'Ali'

IndexError: list assignment index out of range

In [66]:
# Ajouter des listes et dictionnaires dans un dictionnaire
var2[0] = 4
var2[1] = [1, 2, 3, 5]
var2[2] = {'tall': 1.85, 'color': 'black'}
var2

{0: 4, 1: [1, 2, 3, 5], 2: {'tall': 1.85, 'color': 'black'}}

In [67]:
# Dictionnaire (Part 2)
# Quelques propriétés des dictionnaires

var2.update({'language': 'Wolof',
            'classe': 'DSI006',
            'year': 1995, })

In [68]:
var2

{0: 4,
 1: [1, 2, 3, 5],
 2: {'tall': 1.85, 'color': 'black'},
 'language': 'Wolof',
 'classe': 'DSI006',
 'year': 1995}

In [69]:
var2.update({'language': 'Anglais',
            'classe': 'DSI007',
            'year': 1994, })

In [70]:
var2

{0: 4,
 1: [1, 2, 3, 5],
 2: {'tall': 1.85, 'color': 'black'},
 'language': 'Anglais',
 'classe': 'DSI007',
 'year': 1994}

In [71]:
# La fonction update ou | mettent à jour les éléments du dictionnaires
# Si ces éléments existent dans la liste il met à jour
# Sinon il ajoute les nouveaux éléments avec leur clé
var4 = {'language': 'Russe','classe': 'DSI008','year': 1992}
var2 = var2 | var4
var2

{0: 4,
 1: [1, 2, 3, 5],
 2: {'tall': 1.85, 'color': 'black'},
 'language': 'Russe',
 'classe': 'DSI008',
 'year': 1992}

In [72]:
# Dictionnaire (Part 3)
# Quelques fonction sur les dictionnaires

# Afficher toutes les clés du dictionnaire
var2.keys()

dict_keys([0, 1, 2, 'language', 'classe', 'year'])

In [73]:
# Afficher toutes les valeurs du dictionnaire
var2.values()

dict_values([4, [1, 2, 3, 5], {'tall': 1.85, 'color': 'black'}, 'Russe', 'DSI008', 1992])

In [74]:
list(var2.keys())

[0, 1, 2, 'language', 'classe', 'year']

In [75]:
list(var2.values())

[4, [1, 2, 3, 5], {'tall': 1.85, 'color': 'black'}, 'Russe', 'DSI008', 1992]

In [76]:
# Afficher les clés et les valeurs en même temps
var2.items()

dict_items([(0, 4), (1, [1, 2, 3, 5]), (2, {'tall': 1.85, 'color': 'black'}), ('language', 'Russe'), ('classe', 'DSI008'), ('year', 1992)])

In [77]:
list(var2.items())

[(0, 4),
 (1, [1, 2, 3, 5]),
 (2, {'tall': 1.85, 'color': 'black'}),
 ('language', 'Russe'),
 ('classe', 'DSI008'),
 ('year', 1992)]

In [78]:
# Supprimer un élément du dictionnaire (Méthode 1)
# pour supprimer dans ce cas on utilise la clé
del var2[0]

In [79]:
var2

{1: [1, 2, 3, 5],
 2: {'tall': 1.85, 'color': 'black'},
 'language': 'Russe',
 'classe': 'DSI008',
 'year': 1992}

In [81]:
# Supprimer un élément du dictionnaire (Méthode 2)
# Utilisation de la méthode pop pour supprimer a partir de l'indexe
var2.pop(1)

[1, 2, 3, 5]

In [82]:
#Exercice
# Créér un dictionnaire contenant:
# La valeur de vôtre nom assignée à une clé fullname
# La valeur de vôtre poids assignée à une clé weight
# La valeur de vôtre taille assignée à une clé tall
# Puis calcule l'IMC (indice de masse corporelle)
# Formule= Poids/(taille*taille) en kg/m2
# Exprimer ce résultat en g/m2, en g/mm2
# et stocker ces trois résultats dans une liste
# et stocker cette liste dans le dictionnaire de départ sous la clé <imc>

In [85]:
# Correction faite par Eric Djiky
person = {}

person['fullname'] = 'Eric Djiky'
person['weight']   = 70
person['tall']     = 1.75
imc                = person['weight'] / (person['tall'] * person['tall'])
imc2               = (person['weight'] * 1000) / (person['tall'] * person['tall'])
imc3               = (person['weight'] * 1000) / ((person['tall'] * 1000) * (person['tall'] * 1000))

person['IMC']      = [imc, imc2, imc3]
person

{'fullname': 'Eric Djiky',
 'weight': 70,
 'tall': 1.75,
 'IMC': [22.857142857142858, 22857.14285714286, 0.022857142857142857]}

In [87]:
# Correction faite par Maodo Sene

# Créér un dictionnaire contenant:
mes_infos = {}
mes_infos['fullnam']  ='Maodo'
mes_infos['weight']   = 78
mes_infos['tall']     = 1.75

#calcule l'IMC (indice de masse corporelle) en kg/m²
IMC1 = mes_infos['weight']/(mes_infos['tall']**2)

# Exprimer ce résultat en g/m2
IMC2 = (mes_infos['weight']*1000)/(mes_infos['tall']**2)

# Exprimer ce résultat en g/mm2
IMC3 = (mes_infos['weight']*1000)/((mes_infos['tall']**2)*1000)

imc  = {'imc': [IMC1, IMC2, IMC3]}
mes_infos.update(imc)
mes_infos

{'fullnam': 'Maodo',
 'weight': 78,
 'tall': 1.75,
 'imc': [25.46938775510204, 25469.38775510204, 25.46938775510204]}

In [86]:
# Exercice2
fruits = ['orange', 'banane', 'kiwi', 'papaye', 'pomme', 'pomme']

# Afficher la taille du tableau avec la fonction len:
# Exemple Liste1 = [1,2] => longueur = len(Liste1)

# Compter le nombre d'occurence de POMME:
# Exemple Liste1 = ['tata', 'tata', 'tati'] => occurence = Liste1.count('tata')

# Ordonner la liste avec REVERSE
# Exemple Liste1 = [1,2,3] => Liste1Reverse = Liste1.reverse()

# Trier les éléments du tableau avec la fonction SORTED
# Exemple Liste1   = [1,2,3]
# Liste1SortedAsc  = sorted(Liste1, reverse=Fasle)
# Liste1SortedDesc = sorted(Liste2, reverse=True)

# Supprimer l'élément ORANGE de la liste de départ
# Ajouter dans la liste le résultat de l'exercice précédent avec l'IMC

In [88]:
# Correction Exercice2 fait par Wilfried
fruits = ['orange', 'banane', 'kiwi', 'papaye', 'pomme', 'pomme']

# Afficher la taille du tableau avec la fonction len:
# Exemple Liste1 = [1,2] => longueur = len(Liste1)
lenghtFruit = len(fruits)

# Compter le nombre d'occurence de POMME:
# Exemple Liste1 = ['tata', 'tata', 'tati'] => occurence = Liste1.count('tata')
occurencePomme = fruits.count('pomme')

# Trier les éléments du tableau avec la fonction SORTED
# Exemple Liste1   = [1,2,3]
# Liste1SortedAsc  = sorted(Liste1, reverse=Fasle)
fruitsSortedAsc = sorted(fruits, reverse=False)

# Liste1SortedDesc = sorted(Liste2, reverse=True)
fruitsSortedDesc = sorted(fruits, reverse=True)

lenghtFruit,occurencePomme,fruitsSortedAsc,fruitsSortedDesc

(6,
 2,
 ['banane', 'kiwi', 'orange', 'papaye', 'pomme', 'pomme'],
 ['pomme', 'pomme', 'papaye', 'orange', 'kiwi', 'banane'])

In [89]:
# Supprimer l'élément ORANGE de la liste de départ
del fruits[0]

In [91]:
# Ajouter dans la liste le résultat de l'exercice précédent avec l'IMC
fruits.extend(person['IMC'])

In [92]:
fruits

['banane',
 'kiwi',
 'papaye',
 'pomme',
 'pomme',
 22.857142857142858,
 22857.14285714286,
 0.022857142857142857]

In [93]:
fruits.reverse()

In [94]:
fruits

[0.022857142857142857,
 22857.14285714286,
 22.857142857142858,
 'pomme',
 'pomme',
 'papaye',
 'kiwi',
 'banane']

## Les tuples en python

In [100]:
# Tuple (Part 1)

var1 = ()   # ou var1 = tuple()
var2 = (1, 2, 3, 4, 5)
var3 = (x for x in var2)
var4 = (x for x in range(6))

var6 = [x for x in var2]
var7 = [x for x in range(6)]

In [101]:
# Afficher les valeurs des tuples var2, var3, var4
var2, var3, var4

((1, 2, 3, 4, 5),
 <generator object <genexpr> at 0x7ffec88ec430>,
 <generator object <genexpr> at 0x7ffec88ec580>)

In [102]:
var6, var7

([1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5])

In [103]:
var3 = list(var3) # caster: forcer en un type donné
var3

[1, 2, 3, 4, 5]

In [105]:
var3 = tuple(var3) # caster: forcer en un type donné
var3

(1, 2, 3, 4, 5)

In [1]:
# déclaration des Tuples (Part 2)
tampon = 12344, 76171, 'Sénégal', 'CAN 2022'
type(tampon)

tuple

In [2]:
# Afficher les éléments d'un tuple par les indexes
tampon[0], tampon[1], tampon[2]

(12344, 76171, 'Sénégal')

In [3]:
# Les tuples peuvent contenir tous types de variables comme les Listes
tampon2 = (tampon, [1,2,778,100], 188., 'Egypte')
tampon2

((12344, 76171, 'Sénégal', 'CAN 2022'), [1, 2, 778, 100], 188.0, 'Egypte')

In [4]:
# Erreur : 'tuple' object does not support item assignment
# Les tuples ne supportent pas l'assignation 
# Les tuples sont immuables.
tampon[0] = 8890

TypeError: 'tuple' object does not support item assignment

In [5]:
# Déclaration d'un tuple vide
# Déclaration par ajout d'une virgule
tampon3 = ()
singleton = 'Plat de Mafé', # remarquez la virgule à la fin

tampon3, singleton, type(tampon3), type(singleton)

((), ('Plat de Mafé',), tuple, tuple)

In [9]:
tampon4 = ('Papa')
tampon5 = ('Papa',)

tampon4

'Papa'

In [10]:
tampon5

('Papa',)

In [11]:
# Grouper ou dégrouper des valeurs
# Pack or Unpack values or data
tampon = 12344, 76171, 'Sénégal', 'CAN 2022' # pack

tampon

(12344, 76171, 'Sénégal', 'CAN 2022')

In [12]:
x, y, w, z = tampon # Unpack

In [14]:
x

12344

In [15]:
y

76171

In [16]:
w

'Sénégal'

In [17]:
z

'CAN 2022'

# Structures conditionnelles

## Structure conditionnelle _if_

In [23]:
# Les structures conditionnelles permettent d'évaluer une condition
# Syntaxe de if:
# if (condition) :
#     instruction1
#     instruction2
#     instruction3
#     ............
#     instructionN
# elif (condition):
#     instruction1
#     instruction2
#     instruction3
#     ............
#     instructionN
# else:
#     instruction1
#     instruction2
#     instruction3
#     ............
#     instructionN

In [20]:
# Condition d'évalution: Si age > 18 ou afficher Majeur dans le cas contraire affiché Mineur
# pour afficher en python on utilise la fonction I/O print
age = 20

if age > 18:
    print('Majeur')
else:
    print('Mineur')

Majeur

In [21]:
age = 16

if age > 18:
    print('Majeur')
else:
    print('Mineur')

Mineur

In [22]:
# Exercice
# reprenez les données de l'IMC de l'exercice passé
# Puis d'après les informations officielles concernant cet indicateur
# Si IMC < 18.5 afficher 'Insuffisance pondérale'
# Si IMC compris entre 18.5 et 25 afficher 'Corpulance normale'
# Si IMC compris entre 25 à 30 afficher 'Surpoids'
# Si IMC compris entre 30 à 40 afficher 'obésité'

# Refaite le même exercice pour les individus suivants:
individu1 = {'poids': 75, 'taille': 1.68 }
individu2 = {'poids': 105, 'taille': 1.68 }
individu3 = {'poids': 88, 'taille': 1.88 }
individu4 = {'poids': 65, 'taille': 1.78 }

## Boucle for

In [24]:
# Les boucles permettent de parcourir un itérable et d'itérer selon les valeurs successives contenues dans l'itérables

# Syntaxe de for: (Méthode 1)
# for index in index in range(len(tableau)):
#     print(array[index])

# Syntaxe de for: (Méthode 2)
# for value in array:
#     print(value)

In [31]:
# Exemple (Méthode 1):
tableau = [1, 2, 4, 55, 66, 100]

for index in range(len(tableau)):
    print(tableau[index], end=' ')

1 2 4 55 66 100

In [30]:
# Exemple (Méthode 2):
tableau = [1, 2, 4, 55, 66, 100]

for value in tableau:
    print(value, end=' ')

1 2 4 55 66 100

In [32]:
# Exemple (Méthode 3):
tableau = [1, 2, 4, 55, 66, 100]

# Avec la fonction enumerate(iterable) on récupère et les indexes et les valeurs
# Pack et de Unpack
for index, value in enumerate(tableau):
    print(index, value)

0 1
1 2
2 4
3 55
4 66
5 100

In [33]:
# Exercice
start_list = [x for x in range(201)]

# Déterminer les valeurs paires de start_list
# Déterminer les valeurs impaires de start_list
# Stocker les valeurs paires dans une nouvelle liste PAIRES
# Stocker les valeurs impaires dans une nouvelle liste IMPAIRES
# Pour évaluer la parité on utilise le MODULO PAR 2 (N%2 ==0)
# Puis une fois déterminer appliquer un REVERSE aux deux nouvelles liste pour les afficher en sens inverse

In [34]:
# Correction
PAIRES = [x for x in start_list if x%2 == 0]
PAIRES.reverse()
IMPAIRES = [x for x in start_list if x%2 != 0]
IMPAIRES.reverse()

In [35]:
# Exercice
start_list = [1, 200, 3, 6, 1888, 32, 56, 2000]

# Déterminer le minimum de cette liste en utilisant la boucle for
# Déterminer le maximum de cette liste en utilisant la boucle for
# Ordonner cette liste
# Afficher cette liste

In [36]:
# Correction
# Méthode simple à complexité algorithmique faible
minimum = start_list[0]

for val in start_list:
    if val < minimum:
        minimum = val
        
print('Minimum de la liste :', minimum)

Minimum de la liste : 1

In [37]:
maximum = start_list[0]

for val in start_list:
    if maximum < val:
        maximum = val
        
print('Maximum de la liste:', maximum)

Maximum de la liste: 2000

In [38]:
start_list.sort()
print('Liste ordonnée :', start_list)

Liste ordonnée : [1, 3, 6, 32, 56, 200, 1888, 2000]

In [40]:
# Correction avec min et max en python
# Utilisation des fonctions de base de python
start_list = [1, 200, 3, 6, 1888, 32, 56, 2000]

minimum  = min(start_list)
maximum  = max(start_list)
start_list.sort()

minimum, maximum, start_list

(1, 2000, [1, 3, 6, 32, 56, 200, 1888, 2000])

In [43]:
# Correction naive et moins efficace
# Méthode simple mais à complexité algorithmique élévée
start_list = [1, 200, 3, 6, 1888, 32, 56, 2000]

start_list.sort()

print('Minimum: ', start_list[0])
print('Maximum: ', start_list[-1])
print('Liste triée: ', start_list)

Minimum:  1
Maximum:  2000
Liste triée:  [1, 3, 6, 32, 56, 200, 1888, 2000]

## La boucle while

In [44]:
# La boucle while permet d'itérer comme le fait la boucle for 
# La particularité c'est quelle s'appuie sur une condition
# Syntaxe 
# while (condition)    Tant que c'est vrai
#     instruction1
#     instruction2
#     instruction3
#     invalider la condition pour sortir de la boucle en cas contraire à la condition évaluer

# Exemple:
var = range(10)
checker = 0
while checker < 10:
    print(var[checker], end=' ')
    checker += 1

0 1 2 3 4 5 6 7 8 9

# Manipulation des strings

In [45]:
# Strings sont des chaines de caractères
# on peut les manipuler aussi presque des structures de données 
# Structures de données comme les listes les tuples etc...

string = 'Nous sommes en cours DSI006 avec DIT'

# utilisation de quelques fonctions usuelles

UPPER      = string.upper()
LOWER      = string.lower()
CAPITALIZE = string.capitalize()
TITLE      = string.title()

UPPER, LOWER, CAPITALIZE, TITLE

('NOUS SOMMES EN COURS DSI006 AVEC DIT',
 'nous sommes en cours dsi006 avec dit',
 'Nous sommes en cours dsi006 avec dit',
 'Nous Sommes En Cours Dsi006 Avec Dit')

In [46]:
# Transformer une chaine de caractères en tableau
# Utilisation de la fonction split(separateur)
# Exemple: <string>.split('\n')
string        = 'Nous sommes en cours DSI006 avec DIT'
tableauString = string.split()
tableauString

['Nous', 'sommes', 'en', 'cours', 'DSI006', 'avec', 'DIT']

In [47]:
tableauString = string.split('sommes')
tableauString

['Nous ', ' en cours DSI006 avec DIT']

In [48]:
# Utilisation de la fonction replace
# Syntaxe <string>.replace(start_char, final_char)
# Exemple: <string>.replace('s', 'o')

string = 'Nous sommes en cours DSI006 avec DIT'
new_string = string.replace('m', '')
new_string

'Nous soes en cours DSI006 avec DIT'

In [49]:
t = 1, 2, 'Ali'

In [50]:
t

(1, 2, 'Ali')

In [51]:
x, y, z = t

In [52]:
x, y

(1, 2)

# Les fonctions d'entrée et sortie (I/O)

In [7]:
# Une fonction d'entrée permet d'interagir avec un utilisateur final pour recevoir des données
# Une fonction de sortie permet d'afficher à la console une donnée ou des données
# La fonction usuelle d'entrée en python3 est INPUT() (python2: raw_input)
# La syntaxe est: input('Instruction....')
# La fonction usuelle de sortie en python3 est PRINT() (python2: print ___ instruction)
# La syntaxe est: print('Instruction.......')

print('Maodo Sene')
print('Lamine Faty')
print('Nous sommes à la formation DSI006')

Maodo Sene
Lamine Faty
Nous sommes à la formation DSI006

In [8]:
# Afficher des variables avec print (Méthode 1)
first_name = 'Maodo'
last_name = 'Sene'
profession = 'Chef de projet'

print(f'Nom: {first_name}, Prénom: {last_name}, Profession: {profession}')

Nom: Maodo, Prénom: Sene, Profession: Chef de projet

In [9]:
# Afficher des variables avec print (Méthode 2)
first_name = 'Maodo'
last_name = 'Sene'
profession = 'Chef de projet'

print('Nom: {0}, Prénom: {1}, Profession: {2}'.format(first_name, last_name, profession))

Nom: Maodo, Prénom: Sene, Profession: Chef de projet

In [10]:
# Afficher des variables avec print (Méthode 2)
# Remarque: Génération d'exception suite aux indexes mal choisis
first_name = 'Maodo'
last_name = 'Sene'
profession = 'Chef de projet'

print('Nom: {1}'.format(first_name)) # index 1 rejeté

IndexError: Replacement index 1 out of range for positional args tuple

In [11]:
# Afficher des variables avec print (Méthode 2)
# Remarque: Génération d'exception suite aux indexes mal choisis
first_name = 'Maodo'
last_name = 'Sene'
profession = 'Chef de projet'

print('Nom: {0}'.format(first_name)) # index 0 accepté

Nom: Maodo

In [12]:
# Afficher des variables avec print (Méthode 2)
# Remarque: Génération d'exception suite aux indexes mal choisis
# En conclusion avec la méthode format les indexes se comportent comme ceux d'une liste ou d'un tuple
first_name = 'Maodo'
last_name = 'Sene'
profession = 'Chef de projet'

print('Nom: {}'.format(first_name)) # index 0 accepté. Ici {} <==> {0}

Nom: Maodo

In [13]:
# Afficher des variables avec print (Méthode 3)
# En sommes choississez la méthode la plus aisée pour vous.
# Toutes les méthodes se valent
first_name = 'Maodo'
last_name = 'Sene'
profession = 'Chef de projet'

print('Nom: %s' % first_name)
print('Prénom: %s' % last_name)
print('Profession: %s' % profession)

Nom: Maodo
Prénom: Sene
Profession: Chef de projet

In [14]:
# Utilisation de la fonction input
name = input('Entrer votre nom svp? ')

Entrer votre nom svp?  MAODO

In [15]:
name

'MAODO'

In [18]:
# Utilisation de la fonction input
age = int(input('Entrer votre age svp? '))
#age = float(input('Entrer votre age svp? '))
#age = str(input('Entrer votre age svp? '))

Entrer votre age svp?  18

In [19]:
age

18

In [20]:
informations = input('Entrer nom, prenom, age')

Entrer nom, prenom, age MAODO, Sene, 42

In [21]:
informations

'MAODO, Sene, 42'

In [28]:
# recupérer plusieurs donnée avec input et split
informations.replace(' ', '').split(',')

['MAODO', 'Sene', '42']

In [36]:
# Méthode alternative à <string>.replace(' ', '')
informations.strip().split(',')

['MAODO', 'Sene', '42']

In [29]:
# Exercice
# reprenez le calcule de l'IMC
# En demandant à la console le poids
# En demandant à la console la taille
# En calculant alors l'IMC puis en l'affichant

In [35]:
# Exercice
# reprenez le calcule de l'IMC
# En demandant à la console le poids
poids = int(input('Entrz le poids : '))
# En demandant à la console la taille
taille = float(input('Entrz la taille : '))          
# En calculant alors l'IMC puis en l'affichant
IMC = poids/taille**2
print(f"l'IMC est de {IMC: .2f} kg/m²")

Entrz le poids :  188
Entrz la taille :  1.88

l'IMC est de  53.19 kg/m²

In [62]:
# Exercice
data = """
Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
optio, eaque rerum! Provident similique accusantium nemo autem.
"""

# Avec les fonctions appliquées aux strings 
# Nettoyer cette phrase et obtenez que la liste contenant les mots de cette phrase
# Puis dans une liste afficher chacun de ces mots comme suit:
# Chaque élément de cette liste doit être de la forme (Mot, Index, Poids)
# Ici le Mot = mot
# Ici Index = Position du mot dans la liste
# Ici le Poids = Représente la taille du mot
# Puis Ordonner par ordre décroissant les mots selon leur poids
# Puis déterminer le mot ayant le plus grand poids
# Puis déterminer le mot ayant le plus petit poids

In [83]:
data = """
Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime mollitia,
molestiae quas vel sint commodi repudiandae consequuntur voluptatum laborum
numquam blanditiis harum quisquam eius sed odit fugiat iusto fuga praesentium
optio, eaque rerum! Provident similique accusantium nemo autem.
"""

data = data.replace('\n', '').replace('.', '').replace('!', '').replace(',',', ').replace(',', '').replace('  ', ' ').split(' ')
data = [(x, y, len(x)) for y,x in enumerate(data)]
data = sorted(data, reverse=True, key=lambda list: list[2])
maximum = data[0]
minimum = data[-1]
#data
minimum, maximum

(('sed', 23, 3), ('praesentiumoptio', 28, 16))

## Utilisation du mot clé assert

In [85]:
# Le mot clé assert permet d'évaluer une condition
# Ce mot clé renvoie une exception si la condition évaluée est fausse
# Ce mot clé n'émet pas d'exception en cas de condition évaluée à vraie
age = 20

# Exemple 1
assert age == 20

In [86]:
# Exemple 2
assert age == 30

AssertionError:

# Les fonctions

In [87]:
# Une fonction permet de regrouper en un bloc un ensemble d'instructions
# Ces instructions doivent être répétitives pour afin de donner lieu à l'utilisation impérative d'une fonction
# Ces instructions doivent ne résoudre qu'un seul problème afin d'être optimal et smart

# Syntaxe: def <nomFonction>(args1, args2, args3, .....):
#              Instruction1
#              Instruction2
#              ............
#              InstructionN
#              return resultat1, resultat2, ..., resultatN

In [91]:
# Exemple d'une fonction qui détermine la majorité d'un individu

# Approche naive
def isMajor(age):
    if age > 18:
        return 'Majeur'
    else:
        return 'Mineur'

# Approche plus smart
# Optimisation du code
def isMajor2(age):
    if age > 18:
        return 'Majeur'
    return 'Mineur'

# Meilleure approche
# Utilisation d'une condition ternaire
def isMajor3(age):
    return 'Majeur' if age > 18 else 'Mineur'


isMajor3(20)

'Majeur'

In [4]:
# Les fonctions imbriquées
# En python nous pouvons écrire des fonctions qui contiennent d'autres fonctions
# On parle en terme courant de WRAPPER. Ces fonctions sont utiliser généralement comme des DECORATEUR
# Un décorateur est une fonction qu s'exécute avant une autre
# décorateur, Syntaxe: @<nomDeFonction>(args1, ..., argsN) Les arguments sont les arguments de la fonction qu'il décore

#Exemple

def isMajor(age):
    def checkIfIsInteger():
        return isinstance(age, int)
    
    def checkIsAge(age):
        return age > 18
    
    def toFormat(age):
        return 'Majeur' if checkIsAge(age) else 'Mineur'
    
    return toFormat(age)

# La fonction isMajor est la fonction WRAPPER
# Les fonctions qui sont à l'intérieure exécutent un ensemble de processus
# Remarquer que le WRAPPER return des le résultat de l'un des fonctions de traitements
print(isMajor(20))

Majeur

In [9]:
# Dans la syntaxe des fonctions
# Python3 nous permet aujourd'hui de préciser le type des arguments en entrée
# Ainsi la signature d'une fonctin s'accompagne des types de arguments en entrée

def isMajor1(age: int):
    return 'Majeur' if age > 18 else 'Mineur'

# Dans la syntaxe des fonctions
# Python3 nous permet aussi de donner le type du résultat
# Cette syntaxe est valable à partir des versions 3.7+
def isMajor2(age: int) -> str:
    return 'Majeur' if age > 18 else 'Mineur'

print(isMajor1(18.12))
print(isMajor2(18))

Majeur
Mineur

In [11]:
# Dans le controle des types de variables attendues
# L'utilisation de la méthode ISINSTANCE permet de faire cette vérification
# Cette fonction retourne un booléen

var, var2, var3 = [], (), {}

varTest = isinstance(var, list)
var2Test = isinstance(var2, tuple)
var3Test = isinstance(var3, dict)

varTest, var2Test, var3Test

(True, True, True)

## La gestion des exceptions

In [12]:
# Une Exception est une erreur levée par l'interpreteur afin de signaler une anomalie
# Pour la capture de ces Exceptions python prévoit l'ultilisation du TRY/EXCEPT
# Syntaxe:
# try:
#     Instruction1
#     Instruction2
#     ............
#     InstructionN
# except Exception|<nomException> as e:
#     Instruction en cas d'exception

In [18]:
def jumpNextLine():
    print('\n')


def div2Number(num1: float,
               num2: float,
               mode: str = '/'):
    if mode == '/':
        div = num1 / num2
        return div
    div = num1 // num2
    return div


def div2NumberExc(num1: float,
                  num2: float,
                  mode: str = '/'):
    try:
        if mode == '/':
            div = num1 / num2
            return div
        div = num1 // num2
    except ZeroDivisionError as Exc:
        return 0
    else:
        return div


def div2NumberExc2(num1: float,
                   num2: float,
                   mode: str = '/'):
    try:
        if mode == '/':
            div = num1 / num2
            return div
        div = num1 // num2
        return div
    except Exception as Exc:
        print(type(Exc))
        return 0
    
# print(div2Number(1, 2))
print(div2Number(1, 0))

ZeroDivisionError: division by zero

In [19]:
print(div2NumberExc(1, 0))

0

In [20]:
print(type(div2NumberExc2(1, 0)))

<class 'ZeroDivisionError'>
<class 'int'>

In [21]:
div2NumberExc(1,2)

0.5

In [22]:
"""
Demander à l'utilisateur de renseigner un nombre entier supérieur à 10 pour le temps. Tant que la condition n'est pas respectée répéter l'instruction jusquà ce qu'il donne la bonne valeur
Demander lui de renseigner la distance qui soit positive et supérieur à 28.8. Tant que ces conditions ne sont pas respectées redemander le jusquà obtention de la bonne distance
Convertisser le résultat de la vitesse en:
    1. m/s
    2. m/ms
    3. km/s
    4. km/ms
"""

# Ecrire une fonction tackeTime() qui permet de récupérer le temps selon les critères définis dans l'énoncé
# Ecrire une fonction takeDistance() qui permet de récupérer la distance selon les critères définis dans l'énoncé
# Ecrire une fonction calcVitesse(time: float, distance: float) et retourne la vitesse
# Ecrire une fonction formatVitesse(vitesse: float) et qui affiche selon les 4 modalités d'affiches définies
# Puis regrouper les quatre fonction dans une fonction globale main()
# Puis éxécuter

"\nDemander à l'utilisateur de renseigner un nombre entier supérieur à 10 pour le temps. Tant que la condition n'est pas respectée répéter l'instruction jusquà ce qu'il donne la bonne valeur\nDemander lui de renseigner la distance qui soit positive et supérieur à 28.8. Tant que ces conditions ne sont pas respectées redemander le jusquà obtention de la bonne distance\nConvertisser le résultat de la vitesse en:\n    1. m/s\n    2. m/ms\n    3. km/s\n    4. km/ms\n"

In [24]:
def takeTime():
    while True:
        temps = float(input("Renseigner un nombre entier supérieur à 10 pour le temps :"))
        if temps>10:
            break
    return temps

def takeDistance():
    while True:
        distance = float(input("Entrer un nombre positif et supérieur à 28.8 pour la distance:"))
        if distance>28.8:
            break
    return distance

def calcVitesse(temps: float, 
                distance: float):
    try:
        vitesse = distance/temps
    except Exception as e:
        return 0.00
    else:
        return vitesse

def formatVitesse(vitesse: float):
    if vitesse != 0 :
        vitesse1 = vitesse / 1000
        vitesse2 = vitesse * 1000
        vitesse3 = vitesse / 10**6
        
        print('--------------------------')
        print(f'Vitesse en m/s: {vitesse}')
        print('--------------------------')
        print(f'Vitesse en m/ms: {vitesse1}')
        print('--------------------------')
        print(f'Vitesse en km/s: {vitesse2}')
        print('--------------------------')
        print(f'Vitesse en km/ms: {vitesse3}')
        print('--------------------------')
    else:
        print('--------------------------')
        print(f'Cette vitesse est nulle')
        print('--------------------------')

def main():
    formatVitesse(calcVitesse(takeTime(), takeDistance()))
    
main()

Renseigner un nombre entier supérieur à 10 pour le temps : 12
Entrer un nombre positif et supérieur à 28.8 pour la distance: 30

--------------------------
Vitesse en m/s: 2.5
--------------------------
Vitesse en m/ms: 0.0025
--------------------------
Vitesse en km/s: 2500.0
--------------------------
Vitesse en km/ms: 2.5e-06
--------------------------

In [25]:
# Ecrire une fonction qui permet de renvoyer les indexes des lettres majuscules:
# demander à l'utilisateur de donner une phrase ou un mot qui soit être une chaine de caractère:
# veuillez à ce que la longueur de ce que l'utilisateur entre soit supérieure à 2 dans le cas contraire obnligez le à entrer la bonne phrase ou un mot dont la longueur est supérieur à 2
# après retourner les indexes des lettres en majuscules
# Puis tester l'application avec différentes phrases que voici:
# HeLl0 ==> [0, 2, 4]
# HeLlO Les etudiaNtS ==> [0, 2, 4, 6, 16, 18]

In [26]:
# Correction faite par Anselme Wilfried
def indexRenvoi():
    indexes = []
    while True:
        phrase = input("Saisir une phrase dont la longueur est supérieure à 2")
        if len(phrase)>2:
            for index,value in enumerate(phrase):
                if value.isupper():
                    indexes.append(index)
            break
    return indexes

indexRenvoi()

Saisir une phrase dont la longueur est supérieure à 2 HeLlO Les etudiaNtS

[0, 2, 4, 6, 16, 18]

In [27]:
# Correcction faite par Maodo Sene
# Ecrire une fonction qui permet de renvoyer les indexes des lettres majuscules:
# demander à l'utilisateur de donner une phrase ou un mot qui soit être une chaine de caractère:

def EnterChaine():
    while True:
        chaine = str(input("Entrainer une phrase ou un mot de plus de 2 caractères: "))
        if len(chaine)>2 :
            break
        return chaine

def verifMaj(chaine):
    index_maj =[chaine.index(letter) for letter in chaine if letter.isupper()]
    return index_maj

verifMaj(EnterChaine())

Entrainer une phrase ou un mot de plus de 2 caractères:  HeLlO Les etudiaNtS

TypeError: 'NoneType' object is not iterable