# Variables

In [1]:
# Variables

# Python est un langage non typé
# Les variables permettent de stocker des valeurs
# Les variables permettent de stocker quelques soit le type
# A chaque assignation de valeur à une variable on parle d'assignation ou d'affectation

# Première METHODE
var1 = 'Ali'
var2 = 100.100
var3 = 22
var4 = 188.

# Deuxième METHODE
# Cette mlethode permet de regrouper (PACK)...
var5, var6, var7, var8 = 'Ali', 100.100, 22, 188.

In [9]:
# Afficher les variables dans le prompt de Jupyter Lab
var1, var2, var3, var4

('Ali', 100.1, 22, 188.0)

In [10]:
# Afficher les variables dans le prompt de Jupyter Lab
var5, var6, var7, var8

('Ali', 100.1, 22, 188.0)

In [11]:
# Les entiers
# Les réels
# les chaines de caractères
# Les booléens
# Les tableau ( Entier, Reels, Chaine de caractères)

# Les types de Variables

In [14]:
# La fonction pour afficher le type est la fonction type

# var1 = 'Ali'    type = str (chaine de caractère)
# var2 = 100.100  type = float (reel)
# var3 = 22       type = int (entier)
# var4 = 188.     type = float (reel)

type(var1), type(var2), type(var3), type(var4)

(str, float, int, float)

In [16]:
# Les deux manières d'écrire un float

188.000, 188. # 188.0000000000

(188.0, 188.0)

In [17]:
type(var5), type(var6), type(var7), type(var8)

(str, float, int, float)

# Les opérations usuelles en python

In [19]:
add    = var2 + var3    # Addition
sous   = var2 - var3    # Soustraction
divi   = var2 / var3    # Divion simple
mult   = var2 * var3    # Multiplication
pow2   = var2 ** 2      # Exposant au carré (puissance)
pow3   = var2 ** 3      # Exposant au cube (puissance)
divE   = var2 // var3   # Division Entière
divE2  = 4 // 3         # Division Entière
modulo = 4 % 3          # Modulo (retourne le reste)

In [20]:
add, sous, divi, mult, pow2, pow3

(122.1, 78.1, 4.55, 2202.2, 10020.009999999998, 1003003.0009999998)

In [23]:
4/3, 4//3    # La division entière filtre et retient la partie entiere du résultat

(1.3333333333333333, 1)

In [24]:
# Déclarer des variables
# Une variable <name>, contenant votre NOM
# Une variable <age>, contenant votre AGE
# Une variable <sex>, contenant votre sexe
# Une variable <country>, contenant votre pays.

In [27]:
# Correction Déclarer des variables
name    = 'Eric'
age     = 28
sex     = 'Masculin'
country = 'Cameroune'

In [25]:
# Afficher le type de vos variables
# Afficher le type de la variable <name>
# Afficher le type de la variable <age>
# Afficher le type de la variable <sex>
# Afficher le type de la variable <country>

In [29]:
# Correction Afficher le type des variables
type(name), type(age), type(sex), type(country)

(str, int, str, str)

In [26]:
# Manipulation des varaibles
# Declarer une variable du nom <surface>
# Le rayon du cercle est de 18 et PI = 22/7
# Calculer la surfaceCercle d'un cercle = PI * r**2
# Considérer un triangle avec les dimensions suivantes:
# Base = 22
# Hauteur = 17
# calculer la surface de ce triangle dans une variable surfaceTriangle
# NB: Perimètre d'un triangle = (B * H) / 2

In [30]:
# Correction Manipulation des varaibles
PI, r, Base, Hauteur = 22/7, 18, 22, 17
surfaceCercle        = PI * (r**2)
surfaceTriangle      = (Base * Hauteur) / 2

surfaceCercle, surfaceTriangle

(1018.2857142857142, 187.0)

# List, tuple, dict

## Les Listes en python ou tableau

In [31]:
# Déclaration d'une liste ou d'un tableau

tableau = []
# tableau = list()

In [33]:
# Ajouter des élements dans le tableau
# La particularité des tableaux en Java ou langage C est de ne déclarer que des tableaux ne contenant que des valeurs du même type
# En python les LISTES sont des META DONNEES ( communément appelées des STRUCTURES DE DONNEES)
# La particularité des STRUCTURES DE DONNEES est de contenir tous types de variables

# Cas en Java ou en C (Appliqué au python)
tableau1 = [0, 1, 2, 3, 4, 5, 1991, 20778] # que des entiers
tableau2 = [0.00, 1.00, 2.00, 3.00, 4.00, 1991.012] # que des réels
tableau3 = ['Eric', 'Marius', 'Maodo', 'Russell'] # que des chaines de caractères

# Cas en python
tableau4 = [11, 188.02, 'Eric']
tableau5 = [11.88, 12, 'Russell', []]
tableau6 = [[1,2,3], [99.88, 'ALI'], []]

In [35]:
# Afficher les valeurs du tableau en passant par les indexes
tableau1[0], tableau1[1], tableau1[6]

(0, 1, 1991)

In [37]:
# Afficher les valeurs du tableau en passant par les indexes
tableau3[0], tableau2[1], tableau2[5]

('Eric', 1.0, 1991.012)

In [38]:
# Afficher les valeurs du tableau en passant par les indexes
tableau5[0], tableau5[2], tableau2[3]

(11.88, 'Russell', 3.0)

In [39]:
# Afficher les valeurs du tableau en passant par les indexes
tableau6[0], tableau6[1], tableau6[2]

([1, 2, 3], [99.88, 'ALI'], [])

In [40]:
# Afficher les valeurs du tableau en passant par les indexes
# Manipulation des matrices (tableau dimension 2)
tableau6[0][0], tableau6[1][1], tableau6[2]

(1, 'ALI', [])

In [41]:
# Affichage du type des tableaux
type(tableau1), type(tableau2), type(tableau5), type(tableau6)

(list, list, list, list)

In [46]:
# Petite Remarque
# On peut modifier les valeurs contenues dans une LISTE
# La modification de ces valeurs se font par les index du tableau
# Exemple
tableau4    = [11, 188.02, 'Eric']
tableau4[0] = 100.2
tableau4[1] = 'Ali'
tableau4[2] = 'Maodo Sene'

In [48]:
# Affichage des modifications apportées au tableau4
tableau4

[100.2, 'Ali', 'Maodo Sene']

In [49]:
# test de la propriété d'immutabilité des listes (Part 1)
testListe = list()  # testListe = []

testListe[0]

IndexError: list index out of range

In [50]:
# test de la propriété d'immutabilité des listes (Part 2)
testListe = list()  # testListe = []

testListe[0] = 188.19

IndexError: list assignment index out of range

In [53]:
# List comprehension (Part 1)
# NB: la fonction native range(n) affiche les éléments a partir de 0 jusqu'à n-1
# NB exemple: range(3) = [0,1,2] car n-1 = 3-1 = 2

var1 = []   # list()
var2 = [1, 2, 3, 4, 5]
var3 = [x for x in var2]
var4 = [x for x in var2]
var5 = [x for x in range(6)]
var6 = [x for x in range(10)]

In [51]:
# Afficher les valeurs des variables var3, var4
var3, var4

([1, 2, 3, 4, 5], [1, 2, 3, 4, 5])

In [52]:
# Afficher les valeurs des variables var5, var6
var5, var6

([0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [54]:
# Afficher les types des variables var5, var6
type(var5), type(var6)

(list, list)